.SearchbarLoader-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.SearchbarLoader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid rgba(130, 130, 130, 0.7);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

