.AddingProduct{
    margin-top: 16vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Box{
    padding-top: 2vh;
    display: grid;
    grid-template-columns: auto;
}

.MuiButtonBase-root{
    background-color: black;
}

.MuiButtonBase-root:hover{
    background-color: inherit;
    color: black;
}